

body {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.cusList {
    padding: 10px;
    position: relative;
    margin-top: 5px;
    border: 1px solid teal;
    font-size: 2rem;
    columns: 50px 5;
    justify-content: center;
    display: flex;
}